<?xml version="1.0" encoding="utf-8"?>
<!-- This URDF was automatically created by SolidWorks to URDF Exporter! Originally created by Stephen Brawner (brawner@gmail.com) 
     Commit Version: 1.6.0-4-g7f85cfe  Build Version: 1.6.7995.38578
     For more information, please see http://wiki.ros.org/sw_urdf_exporter -->
<robot
  name="piper_x_description">

  <!-- piper_x bimanual (v2). Derived from piper_x_description_dualarm.urdf.
       Inertial mass/COM/inertia for base_link, link2, link3, link4 and joint
       limits (joint4/5 +-1.5533, joint6 +-2.0944) and joint velocities (5 rad/s)
       updated to AgileX agx_arm_urdf/piper_x reference values.
       INTENTIONALLY KEPT FROM ORIGINAL: joint frame conventions, mesh set,
       gripper (gripper_base_100_v2 + link7/link8), link6 inertia (reference
       value is physically impossible for a 0.007 kg link), and the 0.6 m
       inter-arm spacing (right_base_link at y=-0.6). -->

  <link
    name="left_base_link">
  <inertial>
    <origin xyz="-0.00473641164191482 2.56829134630247E-05 0.041451518036016" rpy="0 0 0"/>
    <mass value="1.02"/>
    <inertia
      ixx="0.00267433"
      ixy="-0.00000073"
      ixz="-0.00017389"
      iyy="0.00282612"
      iyz="0.0000004"
      izz="0.00089624"/>
  </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://piper_x_description/meshes/dae/base_link.dae" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.59216 0.61961 0.65098 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://piper_x_description/meshes/dae/base_link.dae" />
      </geometry>
    </collision>
  </link>
  <link
    name="right_base_link">
  <inertial>
    <origin xyz="-0.00473641164191482 2.56829134630247E-05 0.041451518036016" rpy="0 0 0"/>
    <mass value="1.02"/>
    <inertia
      ixx="0.00267433"
      ixy="-0.00000073"
      ixz="-0.00017389"
      iyy="0.00282612"
      iyz="0.0000004"
      izz="0.00089624"/>
  </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://piper_x_description/meshes/dae/base_link.dae" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.59216 0.61961 0.65098 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://piper_x_description/meshes/dae/base_link.dae" />
      </geometry>
    </collision>
  </link>

  <link name="base_link"/>
  <joint name="base_link_to_left_base" type="fixed">
    <origin xyz="0 0 0" rpy="0 0 0"/>
    <parent link="base_link"/>
    <child link="left_base_link"/>
  </joint>
  <joint name="base_link_to_right_base" type="fixed">
    <origin xyz="0 -0.6 0" rpy="0 0 0"/>
    <parent link="base_link"/>
    <child link="right_base_link"/>
  </joint>

  <link
    name="left_link1">
    <inertial>
      <origin xyz="0.00065 0.00006 -0.00325" rpy="0 0 0"/>
      <mass
        value="0.71" />
      <inertia
        ixx="0.00051254"
        ixy="0.00000294"
        ixz="0.00001039"
        iyy="0.00041089"
        iyz="0.00000240"
        izz="0.00045962"/>
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://piper_x_description/meshes/dae/J1.dae" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.59216 0.61961 0.65098 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://piper_x_description/meshes/dae/J1.dae" />
      </geometry>
    </collision>
  </link>
  <joint
    name="left_joint1"
    type="revolute">
    <origin
      xyz="0 0 0.123"
      rpy="0 0 0" />
    <parent
      link="left_base_link" />
    <child
      link="left_link1" />
    <axis
      xyz="0 0 1" />
    <limit
      lower="-2.618"
      upper="2.618"
      effort="100"
      velocity="5" />
  </joint>
  <link
    name="left_link2">
    <inertial>
      <origin xyz="0.21856 -0.00859 0.00227" rpy="0 0 0"/>
      <mass value="1.16"/>
      <inertia
        ixx="0.00111915"
        ixy="0.00182916"
        ixz="0.00019233"
        iyy="0.06763251"
        iyz="0.00000767"
        izz="0.067559"/>
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://piper_x_description/meshes/dae/J2.dae" />
      </geometry>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://piper_x_description/meshes/dae/J2.dae" />
      </geometry>
    </collision>
  </link>
  <joint
    name="left_joint2"
    type="revolute">
    <origin
      xyz="0 0 0"
      rpy="1.5708 -0.13586 3.1416" />
    <parent
      link="left_link1" />
    <child
      link="left_link2" />
    <axis
      xyz="0 0 1" />
    <limit
      lower="0"
      upper="3.14"
      effort="100"
      velocity="5" />
  </joint>
  <link
    name="left_link3">
    <inertial>
      <origin xyz="0.2014 -0.00418 -0.00141" rpy="0 0 0"/>
      <mass value="0.67"/>
      <inertia
        ixx="0.00033471"
        ixy="0.00026891"
        ixz="0.00013918"
        iyy="0.03360411"
        iyz="0.00000052"
        izz="0.03356941"/>
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://piper_x_description/meshes/dae/J3.dae" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.59216 0.61961 0.65098 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://piper_x_description/meshes/dae/J3.dae" />
      </geometry>
    </collision>
  </link>
  <joint
    name="left_joint3"
    type="revolute">
    <origin
      xyz="0.28503 0 0"
      rpy="0 0 2.8377" />
    <parent
      link="left_link2" />
    <child
      link="left_link3" />
    <axis
      xyz="0 0 1" />
    <limit
      lower="-2.9671"
      upper="0"
      effort="100"
      velocity="5" />
  </joint>
  <link
    name="left_link4">
    <inertial>
      <origin xyz="0.059 -0.05831 0.002" rpy="0 0 0"/>
      <mass value="0.39"/>
      <inertia
        ixx="0.00120173"
        ixy="0.00138165"
        ixz="0.00001187"
        iyy="0.00209324"
        iyz="0.00000217"
        izz="0.00307814"/>
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://piper_x_description/meshes/dae/J4.dae" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.69804 0.69804 0.69804 0.875" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://piper_x_description/meshes/dae/J4.dae" />
      </geometry>
    </collision>
  </link>
  <joint
    name="left_joint4"
    type="revolute">
    <origin
      xyz="0.27264 0 0"
      rpy="0 0 0.075129" />
    <parent
      link="left_link3" />
    <child
      link="left_link4" />
    <axis
      xyz="0 0 1" />
    <limit
      lower="-1.553343"
      upper="1.553343"
      effort="100"
      velocity="5" />
  </joint>
  <link
    name="left_link5">
    <inertial>
      <origin xyz="0.00005 0.0 -0.00417" rpy="0 0 0"/>
      <mass value="0.35"/>
      <inertia
        ixx="0.00022660"
        ixy="0.00000019"
        ixz="0.00000005"
        iyy="0.00017740"
        iyz="0.00000085"
        izz="0.00019425"/>
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://piper_x_description/meshes/dae/J5.dae" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.59216 0.61961 0.65098 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://piper_x_description/meshes/dae/J5.dae" />
      </geometry>
    </collision>
  </link>
  <joint
    name="left_joint5"
    type="revolute">
    <origin
      xyz="0.076857 0.00062395 0"
      rpy="-1.5708 0 0" />
    <parent
      link="left_link4" />
    <child
      link="left_link5" />
    <axis
      xyz="0 0 1" />
    <limit
      lower="-1.553343"
      upper="1.553343"
      effort="100"
      velocity="5" />
  </joint>
  <link
    name="left_link6">
    <inertial>
      <origin xyz="0 0 -0.00351" rpy="0 0 0"/>
      <mass value="0.007"/>
      <inertia
        ixx="0.00000064"
        ixy="0"
        ixz="0"
        iyy="0.00000064"
        iyz="0"
        izz="0.00000106"/>
    </inertial>
    <visual>
      <origin
        xyz="0 0 -0.035"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://piper_x_description/meshes/Link6.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.898039215686275 0.917647058823529 0.929411764705882 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 -0.035"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://piper_x_description/meshes/Link6.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="left_joint6"
    type="revolute">
    <origin
      xyz="0.035 0 0"
      rpy="1.5708 0 1.5708" />
    <parent
      link="left_link5" />
    <child
      link="left_link6" />
    <axis
      xyz="0 0 1" />
    <limit
      lower="-2.0943951"
      upper="2.0943951"
      effort="100"
      velocity="5" />
  </joint>

  <link
    name="left_gripper_base">
    <inertial>
      <origin xyz="-0.00006 -0.00003 0.0321436689908876" rpy="0 0 0"/>
      <mass value="0.52"/>
      <inertia
        ixx="0.00151445"
        ixy="0.00000048"
        ixz="0.00000003"
        iyy="0.00162326"
        iyz="0.00000277"
        izz="0.00030728"/>
    </inertial>
    <visual>
      <origin
        xyz="0.002 0.0078 0.06"
        rpy="-1.57 0 3.14" />
      <geometry>
        <mesh
          filename="package://piper_x_description/meshes/dae/gripper_base_100_v2.dae" scale="0.8 0.8 0.8"/>
      </geometry>
      <material
        name="">
        <color
          rgba="1 1 1 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0.002 0.0078 0.06"
        rpy="-1.57 0 3.14" />
      <geometry>
        <mesh
          filename="package://piper_x_description/meshes/dae/gripper_base_100_v2.dae" scale="0.8 0.8 0.8"/>
      </geometry>
    </collision>
  </link>

  <joint
    name="left_joint6_to_left_gripper_base"
    type="fixed">
    <origin
      xyz="0 0 0"
      rpy="0 0 0" />
    <parent
      link="left_link6" />
    <child
      link="left_gripper_base" />
  </joint>

  <link name="left_link7">
    <inertial>
    <origin
        xyz="0.000277816920932317 -0.0467673824063769 -0.00921030054508036"
        rpy="0 0 0" />
    <mass value="0.0264822021416248" />
    <inertia
        ixx="9.99779119357223E-06"
        ixy="-1.57542283433504E-07"
        ixz="2.71367446701359E-08"
        iyy="6.17952441557932E-06"
        iyz="1.58939319453383E-06"
        izz="1.4210192754512E-05" />
    </inertial>
    <visual>
      <geometry>
        <mesh filename="package://piper_x_description/meshes/dae/J7.dae" />
      </geometry>
      <material name="LightGrey">
        <color rgba="0.7 0.7 0.7 1.0"/>
      </material>
    </visual>
    <collision>
      <geometry>
        <mesh filename="package://piper_x_description/meshes/dae/J7.dae" />
      </geometry>
    </collision>
  </link>

    <joint name="left_joint7" type="prismatic">
        <origin xyz="0 0 0.13503" rpy="1.5708 0 1.5708" />
        <parent link="left_gripper_base" />
        <child link="left_link7" />
        <axis xyz="0 0 -1" />
        <limit lower="0" upper="0.05" effort="100" velocity="1" />
    </joint>

    <link name="left_link8">
        <inertial>
        <origin
            xyz="0.000277816920932317 0.0467673824063769 -0.00921030054508036"
            rpy="0 0 0" />
        <mass value="0.0264822021416248" />
        <inertia
            ixx="9.99779119357223E-06"
            ixy="-1.57542283433504E-07"
            ixz="2.71367446701359E-08"
            iyy="6.17952441557932E-06"
            iyz="1.58939319453383E-06"
            izz="1.4210192754512E-05" />
        </inertial>
        <visual>
        <origin xyz="0 0 0" rpy="0 0 0" />
        <geometry>
          <mesh filename="package://piper_x_description/meshes/dae/J8.dae" />
        </geometry>
        <material name="">
            <color rgba="0.792156862745098 0.819607843137255 0.933333333333333 1" />
        </material>
        </visual>
        <collision>
        <origin xyz="0 0 0" rpy="0 0 0" />
        <geometry>
          <mesh filename="package://piper_x_description/meshes/dae/J8.dae" />
        </geometry>
        </collision>
    </link>
    <joint name="left_joint8" type="prismatic">
        <origin xyz="0 0 0.13503" rpy="-1.5708 0 1.5708" />
        <parent link="left_gripper_base" />
        <child link="left_link8" />
        <axis xyz="0 0 1" />
        <limit lower="-0.05" upper="0" effort="100" velocity="1" />
    </joint>

  <link
    name="right_link1">
    <inertial>
      <origin xyz="0.00065 0.00006 -0.00325" rpy="0 0 0"/>
      <mass
        value="0.71" />
      <inertia
        ixx="0.00051254"
        ixy="0.00000294"
        ixz="0.00001039"
        iyy="0.00041089"
        iyz="0.00000240"
        izz="0.00045962"/>
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://piper_x_description/meshes/dae/J1.dae" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.59216 0.61961 0.65098 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://piper_x_description/meshes/dae/J1.dae" />
      </geometry>
    </collision>
  </link>
  <joint
    name="right_joint1"
    type="revolute">
    <origin
      xyz="0 0 0.123"
      rpy="0 0 0" />
    <parent
      link="right_base_link" />
    <child
      link="right_link1" />
    <axis
      xyz="0 0 1" />
    <limit
      lower="-2.618"
      upper="2.618"
      effort="100"
      velocity="5" />
  </joint>
  <link
    name="right_link2">
    <inertial>
      <origin xyz="0.21856 -0.00859 0.00227" rpy="0 0 0"/>
      <mass value="1.16"/>
      <inertia
        ixx="0.00111915"
        ixy="0.00182916"
        ixz="0.00019233"
        iyy="0.06763251"
        iyz="0.00000767"
        izz="0.067559"/>
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://piper_x_description/meshes/dae/J2.dae" />
      </geometry>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://piper_x_description/meshes/dae/J2.dae" />
      </geometry>
    </collision>
  </link>
  <joint
    name="right_joint2"
    type="revolute">
    <origin
      xyz="0 0 0"
      rpy="1.5708 -0.13586 3.1416" />
    <parent
      link="right_link1" />
    <child
      link="right_link2" />
    <axis
      xyz="0 0 1" />
    <limit
      lower="0"
      upper="3.14"
      effort="100"
      velocity="5" />
  </joint>
  <link
    name="right_link3">
    <inertial>
      <origin xyz="0.2014 -0.00418 -0.00141" rpy="0 0 0"/>
      <mass value="0.67"/>
      <inertia
        ixx="0.00033471"
        ixy="0.00026891"
        ixz="0.00013918"
        iyy="0.03360411"
        iyz="0.00000052"
        izz="0.03356941"/>
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://piper_x_description/meshes/dae/J3.dae" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.59216 0.61961 0.65098 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://piper_x_description/meshes/dae/J3.dae" />
      </geometry>
    </collision>
  </link>
  <joint
    name="right_joint3"
    type="revolute">
    <origin
      xyz="0.28503 0 0"
      rpy="0 0 2.8377" />
    <parent
      link="right_link2" />
    <child
      link="right_link3" />
    <axis
      xyz="0 0 1" />
    <limit
      lower="-2.9671"
      upper="0"
      effort="100"
      velocity="5" />
  </joint>
  <link
    name="right_link4">
    <inertial>
      <origin xyz="0.059 -0.05831 0.002" rpy="0 0 0"/>
      <mass value="0.39"/>
      <inertia
        ixx="0.00120173"
        ixy="0.00138165"
        ixz="0.00001187"
        iyy="0.00209324"
        iyz="0.00000217"
        izz="0.00307814"/>
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://piper_x_description/meshes/dae/J4.dae" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.69804 0.69804 0.69804 0.875" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://piper_x_description/meshes/dae/J4.dae" />
      </geometry>
    </collision>
  </link>
  <joint
    name="right_joint4"
    type="revolute">
    <origin
      xyz="0.27264 0 0"
      rpy="0 0 0.075129" />
    <parent
      link="right_link3" />
    <child
      link="right_link4" />
    <axis
      xyz="0 0 1" />
    <limit
      lower="-1.553343"
      upper="1.553343"
      effort="100"
      velocity="5" />
  </joint>
  <link
    name="right_link5">
    <inertial>
      <origin xyz="0.00005 0.0 -0.00417" rpy="0 0 0"/>
      <mass value="0.35"/>
      <inertia
        ixx="0.00022660"
        ixy="0.00000019"
        ixz="0.00000005"
        iyy="0.00017740"
        iyz="0.00000085"
        izz="0.00019425"/>
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://piper_x_description/meshes/dae/J5.dae" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.59216 0.61961 0.65098 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://piper_x_description/meshes/dae/J5.dae" />
      </geometry>
    </collision>
  </link>
  <joint
    name="right_joint5"
    type="revolute">
    <origin
      xyz="0.076857 0.00062395 0"
      rpy="-1.5708 0 0" />
    <parent
      link="right_link4" />
    <child
      link="right_link5" />
    <axis
      xyz="0 0 1" />
    <limit
      lower="-1.553343"
      upper="1.553343"
      effort="100"
      velocity="5" />
  </joint>
  <link
    name="right_link6">
    <inertial>
      <origin xyz="0 0 -0.00351" rpy="0 0 0"/>
      <mass value="0.007"/>
      <inertia
        ixx="0.00000064"
        ixy="0"
        ixz="0"
        iyy="0.00000064"
        iyz="0"
        izz="0.00000106"/>
    </inertial>
    <visual>
      <origin
        xyz="0 0 -0.035"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://piper_x_description/meshes/Link6.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.898039215686275 0.917647058823529 0.929411764705882 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 -0.035"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://piper_x_description/meshes/Link6.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="right_joint6"
    type="revolute">
    <origin
      xyz="0.035 0 0"
      rpy="1.5708 0 1.5708" />
    <parent
      link="right_link5" />
    <child
      link="right_link6" />
    <axis
      xyz="0 0 1" />
    <limit
      lower="-2.0943951"
      upper="2.0943951"
      effort="100"
      velocity="5" />
  </joint>

  <link
    name="right_gripper_base">
    <inertial>
      <origin xyz="-0.00006 -0.00003 0.0321436689908876" rpy="0 0 0"/>
      <mass value="0.52"/>
      <inertia
        ixx="0.00151445"
        ixy="0.00000048"
        ixz="0.00000003"
        iyy="0.00162326"
        iyz="0.00000277"
        izz="0.00030728"/>
    </inertial>
    <visual>
      <origin
        xyz="0.002 0.0078 0.06"
        rpy="-1.57 0 3.14" />
      <geometry>
        <mesh
          filename="package://piper_x_description/meshes/dae/gripper_base_100_v2.dae" scale="0.8 0.8 0.8"/>
      </geometry>
      <material
        name="">
        <color
          rgba="1 1 1 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0.002 0.0078 0.06"
        rpy="-1.57 0 3.14" />
      <geometry>
        <mesh
          filename="package://piper_x_description/meshes/dae/gripper_base_100_v2.dae" scale="0.8 0.8 0.8"/>
      </geometry>
    </collision>
  </link>

  <joint
    name="right_joint6_to_right_gripper_base"
    type="fixed">
    <origin
      xyz="0 0 0"
      rpy="0 0 0" />
    <parent
      link="right_link6" />
    <child
      link="right_gripper_base" />
  </joint>

  <link name="right_link7">
    <inertial>
    <origin
        xyz="0.000277816920932317 -0.0467673824063769 -0.00921030054508036"
        rpy="0 0 0" />
    <mass value="0.0264822021416248" />
    <inertia
        ixx="9.99779119357223E-06"
        ixy="-1.57542283433504E-07"
        ixz="2.71367446701359E-08"
        iyy="6.17952441557932E-06"
        iyz="1.58939319453383E-06"
        izz="1.4210192754512E-05" />
    </inertial>
    <visual>
      <geometry>
        <mesh filename="package://piper_x_description/meshes/dae/J7.dae" />
      </geometry>
      <material name="LightGrey">
        <color rgba="0.7 0.7 0.7 1.0"/>
      </material>
    </visual>
    <collision>
      <geometry>
        <mesh filename="package://piper_x_description/meshes/dae/J7.dae" />
      </geometry>
    </collision>
  </link>

    <joint name="right_joint7" type="prismatic">
        <origin xyz="0 0 0.13503" rpy="1.5708 0 1.5708" />
        <parent link="right_gripper_base" />
        <child link="right_link7" />
        <axis xyz="0 0 -1" />
        <limit lower="0" upper="0.05" effort="100" velocity="1" />
    </joint>

    <link name="right_link8">
        <inertial>
        <origin
            xyz="0.000277816920932317 0.0467673824063769 -0.00921030054508036"
            rpy="0 0 0" />
        <mass value="0.0264822021416248" />
        <inertia
            ixx="9.99779119357223E-06"
            ixy="-1.57542283433504E-07"
            ixz="2.71367446701359E-08"
            iyy="6.17952441557932E-06"
            iyz="1.58939319453383E-06"
            izz="1.4210192754512E-05" />
        </inertial>
        <visual>
        <origin xyz="0 0 0" rpy="0 0 0" />
        <geometry>
          <mesh filename="package://piper_x_description/meshes/dae/J8.dae" />
        </geometry>
        <material name="">
            <color rgba="0.792156862745098 0.819607843137255 0.933333333333333 1" />
        </material>
        </visual>
        <collision>
        <origin xyz="0 0 0" rpy="0 0 0" />
        <geometry>
          <mesh filename="package://piper_x_description/meshes/dae/J8.dae" />
        </geometry>
        </collision>
    </link>
    <joint name="right_joint8" type="prismatic">
        <origin xyz="0 0 0.13503" rpy="-1.5708 0 1.5708" />
        <parent link="right_gripper_base" />
        <child link="right_link8" />
        <axis xyz="0 0 1" />
        <limit lower="-0.05" upper="0" effort="100" velocity="1" />
    </joint>

</robot>
